{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <style type="text/css">
         canvas.drawingBuffer{
             max-width: 100%;
             width: 100%;
         }
     </style>
 {% endblock %}

{% block body %}
    <!-- Login -->
    <div class="row mb-3">
        <div class="col">
            <label for="login">Identifiant</label>
            <input type="text" class="form-control" name="login" id="login" data-check-url="{{ url('login') }}" data-logout="{{ url('logout') }}">
        </div>
        <div class="col">
            <label for="lastName">Mot de passe</label>
            <input type="password" class="form-control"  name="password" id="password">
        </div>
    </div>

    <h3 class="">Selection du produit</h3>

    <!-- product -->
    <div class="form-row">
        <div class="form-group col">
            <label for="product">Produit</label>

            <div class="input-group mb-3">
                <input type="text" class="form-control" id="product" name="product" aria-describedby="productHelp" placeholder="code barre" disabled="disabled">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="scanner" >Scan</button>
                </div>

            </div>
            <small id="productHelp" class="form-text text-muted d-none d-md-block">Le code barre du produit.</small>
        </div>

        <div class="form-group col">
            <label for="qty">Quantité</label>
            <input type="number" class="form-control" name="qty" id="qty" min="0" max="100"  disabled="disabled">
        </div>

    </div>

    <div class="form-row mb-4">
        <div class="col">
            <button type="button" class="btn btn-success btn-lg btn-block js-button-increment-stock">+</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger btn-lg btn-block js-button-decrease-stock">-</button>
        </div>
    </div>

    <h3>Produits sélectionnés</h3>

    <form method="POST" action="{{ url('process') }}">
        <div class="form-row">
            <div class="form-group col">
                <label for="label">Label</label>
                <input type="text" class="form-control" id="label" name="label" placeholder="label pour la transaction">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Actions</th>
                    </tr>

                    <tbody id="selected_products">

                    </tbody>
                </table>
            </div>
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">Affecter le stock</button>

    </form>

    <div class="modal" tabindex="-1" id="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive">
                        <div id="scanner-zone"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary float-right" data-dismiss="modal" id="scanner-close">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    {% verbatim %}
    <script id="js-stock-mouvement-template" type="text/x-handlebars-template">

        <tr id="{{id}}" class="{{warning}}">
            <td class="align-middle">
                <span class="label">
                    <span class="spinner-border spinner-border-sm text-success" role="status"></span>
                </span>
                <br>
                <em class="text-muted text-i">{{product.barcode}}</em>
                <input type="hidden" name="barcode[]" value="{{product.barcode}}" />
            </td>
            <td class="align-middle">
                {{ qty }}
                <input type="hidden" name="qty[]" value="{{ qty }}" />
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-outline-danger btn-sm js-remove-row" data-remove="{{id}}">X</button>
            </td>
        </tr>
    </script>
    {% endverbatim %}

    <script type="application/javascript">
        (function($, Handlebars){
            var StockMouvement = function(codeBarre, qty, operation, id){
                this.codeBarre = codeBarre;
                this.operation = operation;
                this.qty = qty;
                this.id = id;
            };

            StockMouvement.prototype.getCodeBarre = function(){
                return this.codeBarre;
            };

            StockMouvement.prototype.getQuantity = function(){
                var qty = parseInt(this.qty, 10);

                if(this.isDecrease()){
                    return qty * -1;
                }

                return qty;
            };

            StockMouvement.prototype.isIncrease = function(){
                return this.operation === '+';
            };

            StockMouvement.prototype.isDecrease = function(){
                return this.operation === '-';
            };

            StockMouvement.prototype.getId = function(){
                return this.id;
            };


            function addEntry(obj){
                var result = compile(obj);
                $("#selected_products").append(result);
            }

            function clearFields(){
                $('#qty').val('');
                $('#product').val('');
            }

            function compile(obj){
                var template = Handlebars.compile($("#js-stock-mouvement-template").html());

                return template({
                    'product' : {
                        'barcode' : obj.getCodeBarre()
                    },
                    'qty' : obj.getQuantity(),
                    'id' : obj.getId(),
                    'warning' : obj.getQuantity() === 0 ? 'table-warning' : ''
                })
            }

            function generateId(){
                var dt = new Date().getTime();
                var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    var r = (dt + Math.random()*16)%16 | 0;
                    dt = Math.floor(dt/16);
                    return (c=='x' ? r :(r&0x3|0x8)).toString(16);
                });

                return uuid;
            }

            function selectProduct(barcode){
                var $q = $.Deferred();

                var q = $.ajax({
                    method: "GET",
                    url: "/index.php/api/products/"+barcode
                });

                q.done(function(product){
                    $q.resolve(product);
                });

                q.fail(function(data){
                    if(data.status === 404){
                        $q.reject('Produit non trouvé');
                        return;
                    }

                    $q.reject('Erreur avec la recherche du produit');

                });

                return $q.promise();
            }

            // Authentication
            function authenticate(url, login, password){
                return $.post(url, { username: login, password: password });
            }

            function loginSuccess(){
                var $password = $('#password');
                var input = $password[0];

                $password.addClass('is-valid');
                $password.removeClass('is-invalid');

                input.setCustomValidity('');
                input.reportValidity();

                $('#product').removeAttr('disabled');
                $('#scanner').removeAttr('disabled');
                $('#qty').removeAttr('disabled');
            }

            function loginFail(response){
                var message = "Erreur de login";
                if(typeof response.responseJSON !== "undefined" && typeof response.responseJSON.message !== "undefined"){
                    message = response.responseJSON.message;
                }

                var $password = $('#password');
                setErrorMessage($password, message)
            }


            function setErrorMessage($input, message){
                var input = $input[0];

                $input.addClass('is-invalid');
                $input.removeClass('is-valid');

                input.setCustomValidity(message);
                input.reportValidity();
            }

            function mouvement(direction){
                var barcode = $('input[name="product"]').val();
                var qty = $('input[name="qty"]').val();
                var id = generateId();

                addEntry(new StockMouvement(barcode, qty, direction, id));

                clearFields();

                var q = selectProduct(barcode);
                q.done(function(product){
                    $("#"+id+" .label").html(product.label);
                });

                q.fail(function(){
                    $("#"+id).addClass('table-danger');
                    $("#"+id+" input").remove();
                    $("#"+id+" .label").remove();
                });
            }

            //Listeners

            $('.js-button-increment-stock').on('click', function(){
                mouvement('+')
            });

            $('.js-button-decrease-stock').on('click', function(){
                mouvement('-')
            });

            $(document).on('click', 'button.js-remove-row', function(){
                var id = $(this).data('remove');
                $('#'+id).remove();
            });

            $('#password').on("focusout", function(){
                var login = $("#login").val();
                var password = $("#password").val();
                var url = $("#login").data('check-url');

                authenticate(url, login, password)
                    .done(loginSuccess)
                    .fail(loginFail);
            });

        })(jQuery, Handlebars);
    </script>

    <script type="application/javascript">
        (function($, Quagga){

            function close(){
                Quagga.stop();
                $('#scanner-zone').html('');
            }

            function open(){
                $('#modal').modal('show');
            }

            var scanner = function(){
                Quagga.init({
                    inputStream : {
                        name : "Live",
                        type : "LiveStream",
                        target: document.querySelector('#scanner-zone')
                    },
                    decoder : {
                        readers : [
                            "code_128_reader",
                        ]
                    }
                }, function(err) {
                    if (err) {
                        console.log(err);
                        return
                    }

                    Quagga.start();
                    open();
                });


                Quagga.onDetected(function(data){
                    $('#product').val(data.codeResult.code);
                    close();
                    $('#modal').modal('hide');
                });
            };

            $('#scanner').on('click', scanner);
            $('#modal').on('hidden.bs.modal', close);
        })(jQuery, Quagga);
    </script>

{% endblock %}